<section id="show-tvpopular">
    <h1>Popular TV Shows</h1>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Original Name</td>
                <td>Votes</td>
                <td>First Air Date</td>
                <td>Language</td>
                <td>Vote Average</td>
                <td>Description</td>
            </tr>
        </thead>
        <tbody id="items">
            {{#each this}}
            <tr>
                <td><a href="#seriegroupselector/{{id}}">{{name}}</a></td>
                <td>{{original_name}}</td>
                <td>{{vote_count}}</td>
                <td>{{first_air_date}}</td>
                <td>{{original_language}}</td>
                <td>{{vote_average}}</td>
                <td>{{overview}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>