<section id="show-tvsearch">
    <h1>TV Search results for: {{searchquery}}</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Original Name</th>
                <th>Votes</th>
                <th>First Air Date</th>
                <th>Language</th>
                <th>Vote Average</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody id="items">
            {{#each items}}
            <tr>
                <td><a href="#seriegroupselector/{{id}}">{{name}}</a></td>
                <td>{{original_name}}</td>
                <td>{{vote_count}}</td>
                <td>{{first_air_date}}</td>
                <td>{{original_language}}</td>
                <td>{{vote_average}}</td>
                <td>{{overview}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>